@model {{ datans }}.Entities.{{ name }}

@{
    ViewData["Title"] = "Delete {{ name }}";
}

<h1>Delete {{ name }}?</h1>

<div>
    <div>
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="danger"></div>
            <div class="form-group">
                <input type="submit" value="Delete" class="danger" />
                <a asp-action="Index" class="link-button">Back</a>
            </div>

            <table>
                {{ #columns }}
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.{{ propertyname }})
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.{{ propertyname }})
                    </td>
                </tr>
                {{ /columns }}
            </table>

            <div class="form-group">
                <input type="submit" value="Delete" class="danger" />
                <a asp-action="Index" class="link-button">Back</a>
            </div>
        </form>
    </div>
</div>
